body, main, button{
    margin: 0;
    padding: 0;
}

/* bg color: #232946 */
body{
    background-color: #232946;
}

/* MAIN CONTENT START */

/* eremove link */

button a {
    text-decoration: none;
    color: #232946;
    font-weight: bold;
    font-size: 2em;
    
}

/* flexbox */

.container{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;  /* Add padding to create space around the container */
    max-width: 300px; /* Set a maximum width to prevent it from touching the edges */
}

.levels{
    background-color: #eebbc3;
    /* border: none; */
    padding: 50px 50px;
    border: none;
    border-radius: 20px;
   
    

}

/* MAIN CONTENT START */
