/* reset CSS */

body, nav, footer, main, ul, li, p,h2, img, h1, article{
    margin: 0;
    padding: 0;
}


/* bg color: #232946 */
body{
    background-color: #232946;
}

/* NAVBAR START*/
nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    list-style-type: none;  
    margin-bottom: 2em; 
}

nav ul li a{
    text-decoration: none;
}
footer, main {
    clear: both;
}

.titles{
    font-size: 2.2em;
    font-weight: bolder;
    color:#fffffe ;
}
/* NAVBAR END*/

.ftitle {
    color: #fffffe;
    font-size: 1.5em;
    font-weight: bolder;
}

/* MAIN CONTENT START */

.cap{
    font-size: 3em;
    font-weight: bolder;
    color:#fffffe ;
}

.cap > span{
    color: #eebbc3;
}

.content{
    color: #b8c1ec;
    font-size: 1.5em;
}

#game a{
text-decoration: none;
color: #232946;
font-weight: bolder; 
}

#game{
    background-color: #eebbc3;
}

/* MAIN CONTENT END */

/* FLEXBOX */

.container{
    display: flex;
}

/* IMAGE */

main > div  > img{
    max-width: 40%;
    height: auto;
    display: block;
    margin-right: 1em;
    border-bottom-left-radius: 50px;
}

/* ABOUT */

#about{
    background-color: #b8c1ec;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
}

h2{
    text-align: center;
    color: #232946;
    font-size: 2.5em;
    font-weight: bolder;
}
/* CARDS */
.card > img{
    max-width: 100%;
    height: auto;
}

.card{
    background-color: #232946;
    max-width: 300px;
    /* border: 1px solid black; */
    overflow: hidden;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.card-content{
    padding: 10px;
}

.card-title{
    align-items: center;
    font-size: 1.25em;  
}

.card-btn{
    display: inline-block;   
    padding: 10px 20px;     
    background-color: #007bff;     
    color: white;   
    text-decoration: none;    
    border-radius: 4px;   
    transition: background-color 0.3s ease; 
}

.card-button:hover {
    background-color: #eebbc3;        /* Darker shade on hover */
  }
/* BUTTON */








